
body {font-family: arial, sans-serif;}
table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr {font-size: 18px;}
tr:nth-child(even) {
    background-color: #dddddd;
}
.grid-container {
    display: grid;
    grid-row-gap: 10px;
    grid-template-columns: auto auto auto;
    background-color: silver;
    padding: 10px;
}
.grid-item {
    background-color: white;
    padding: 20px;
    font-size: 20px;
    text-align: left;
}
.grid-background{
    background-color: silver;
}
#lineItems{
    background-color: white;
}
